{% extends 'email_template_base.html' %}

{% block email_content %}

    Hi
    {% if user.first_name %}
    {{ user.first_name }} {{ user.last_name }},
    {% endif %}

    <p>
        Your subscription trail period is going to be end at <strong>{{ end_date }}</strong> against plan {{ plan }}.
    </p>

{% endblock %}

{% block action_buttons %}
    <a href="https://dropshipdynamo.com/"
       style="text-decoration:none; color:#ffffff">
        Go To DROPSHIP CEO
    </a>
{% endblock %}


{% block extra_content %}

{% endblock %}

{% block signature %}
    {{ block.super }}
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}

