{% extends 'email_template_base.html' %}

{% block email_content %}
    Hi {% if user.last_name %} {{ user.last_name }}{% endif %},

    <p>We recently received a request from you to reset your password. Click the link below to reset your password.</p>
{% endblock %}

{% block action_buttons %}
    <a href="{{ protocol }}://{{ domain }}{% url 'reset_password_form' uidb64=uid token=token %}"
       style="text-decoration:none; color:#ffffff">
        RESET YOUR PASSWORD
    </a>
{% endblock %}

{% block extra_content %}
    {% if use_mobile_verification_code %}
    <p>
        If you have requested a password reset from your mobile app, please type this verification code in your app:
    </p>
    <p style="text-align: center; border-style: dotted;">
        <b class="verification-code" style="font-size: 20px;">Mobile Verification Code: {{ mobile_verification_code }}</b>
    </p>
    {% endif %}
    <p>
        You're receiving this e-mail because you or someone else has requested a password for your user account.
    </p>
    <p>
        It can be safely ignored if you did not request a password reset. Click the link above to reset your password.
    </p>
    <p>
        If you did not send this request, kindly ignore this email or contact us to let us know. Please do note that this password reset link is only valid for (time for validity)
    </p>
    <p>
        Our community at Essence.Earth loves you and will not want to lose your password again.
        Take note of the tips below to help keep your new password safe in the future.
    </p>

    <ul>
        <li>Build a password from your favorite song.</li>
        <li>Create a phrase from a memorable sentence.</li>
        <li>Make use of a secure browser that can remember them for you.</li>
        <li>Try out a password manager.</li>
    </ul>

    <p>Do not also forget to use the “Forgot your password?” link next time you get stuck again.</p>

    <p>
        P.S: We are always around and love to hear from you.
        Please Feel free to contact us at anytime even if it is just to say hello
    </p>


{% endblock %}

{% block signature %}
    {{ block.super }}
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}

