{% extends 'email_template_base.html' %}

{% block email_content %}

    Hi
    {% if user.first_name %}
    {{ user.first_name }} {{ user.last_name }},
    {% endif %}

    <p>
        Click the link below to set your password.
    </p>
{% endblock %}

{% block action_buttons %}
    <a href="{{ domain }}{% url 'reset_password_form' uidb64=uid token=token %}"
       style="text-decoration:none; color:#ffffff">
        SET YOUR PASSWORD
    </a>
{% endblock %}

{% block extra_content %}

    <ul>
        <li>Build a password from your favorite song.</li>
        <li>Create a phrase from a memorable sentence.</li>
        <li>Make use of a secure browser that can remember them for you.</li>
    </ul>

    <p>Do not also forget to use the “Forgot your password?” link next time you get stuck again.</p>

{% endblock %}

{% block signature %}
    {{ block.super }}
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}

